<template>
  <div class="block">
    <div class="block__left">
      <div class="balance">Баланс: 200 Р</div>
      <div class="freeze">Заморожено: 1 600 Р</div>
    </div>
    <div>
      <div class="button">Пополнить</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class BalanceInfo extends Vue {}
</script>

<style lang="scss" scoped>
.block {
  display: flex;

  &__left {
    margin-right: 17px;
  }

  &__right {

  }
}

.balance {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.freeze {
  font-size: 14px;
  line-height: 16px;
}

.button {
  background-color: #008BF3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 10px 9px;
  transition: background-color 0.3s ease;
  will-change: background-color;

  &:hover {
    background-color: #0263ab;
  }
}
</style>
