<template>
  <div v-if="selector" class="group">
    <label for="tester" class="label">{{ title }}:</label>
    <select v-model="selected" name="tester" id="tester" @change="selectOption">
      <option v-for="option in selector" :value="option.value">
        {{ option.title }}
      </option>
    </select>
  </div>
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'nuxt-property-decorator'

@Component
export default class FilterGroup extends Vue {
  @Prop({ type: String })
  readonly title!: string

  @Prop({ type: Array })
  readonly selector!: any[]

  selected: string = 'all'

  @Emit()
  selectOption () {
    return this.selected
  }
}
</script>

<style lang="scss" scoped>
.group {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 15px;
}

select {
  background-color: white;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  height: 36px;
  width: 100%;
  padding: 0 10px;
}
</style>
