<template>
  <div class="table">
    <div class="head">
      <div class="row">
        <div class="cell" :class="{ cell_active: 'site' === sort }" @click="operationsSort('site')">Сайты/Приложения</div>
        <div class="cell">Номер</div>
        <div class="cell cell-msg">Текст сообщения</div>
        <div class="cell cell-date">Дата</div>
      </div>
    </div>
    <div class="list">
      <div v-for="operation in operationsListOnPage" :key="operation.id" class="row item">
        <div class="cell cell-site">
          <img src="~assets/img/icon.png" class="icon" :alt="operation.site">
          <span class="cell-site__name">
            {{ operation.site }}
          </span>
        </div>
        <div class="cell cell-phone">
          <img src="~assets/img/flag.png" alt="flag" class="flag">
          <span>
            +{{ operation.number }}
          </span>
        </div>
        <div class="cell cell-msg">
          {{ operation.message }}
        </div>
        <div class="cell cell-date">
          <div class="date">
            {{ operation.date }}
          </div>
          <div class="copy" @click="copyText(operation.message)"></div>
        </div>
      </div>
      <ThePagination
        :items-page="operationsOnPage"
        :total-count="operationsCounts"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'nuxt-property-decorator'

import OperationType from '~/types/operation'

const itemsPage = 3

@Component
export default class ListOperation extends Vue {
  @Prop({ type: String, default: 'all' })
  readonly type!: string

  sort: 'site' | 'number' | 'date' | null = null

  operationsOnPage: number = itemsPage

  operationsSort (type: 'site' | 'number' | 'date') {
    this.sort = type
  }

  copyText (text: string) {
    navigator.clipboard.writeText(text)

    alert('Message text Copy!')
  }

  get operations (): OperationType[] {
    return this.$store.state.operations.operations
  }

  get operationsList (): OperationType[] {
    const sortKey = this.sort ? this.sort : false

    let operations: OperationType[] = this.operations

    if (sortKey) {
      operations = this.operations.sort(function (a: any, b: any) {
        if (a[sortKey] > b[sortKey]) {
          return 1
        }

        if (a[sortKey] < b[sortKey]) {
          return -1
        }

        return 0
      })
    }

    if (this.type !== 'all') {
      operations = operations.filter(item => item.type === this.type)
    }

    return operations
  }

  get operationsListOnPage (): OperationType[] {
    const page: number = this.$route.query.page ? Number(this.$route.query.page) : 0
    const to: number = this.$route.query.page ? (page - 1) * itemsPage : 0
    const from: number = this.$route.query.page ? page * itemsPage : itemsPage

    return this.operationsList.filter((item, index) => index >= to && index < from)
  }

  get operationsCounts (): number {
    return this.operationsList.length
  }
}

</script>

<style lang="scss" scoped>
.table {
  font-size: 14px;
  line-height: 16px;

  @media (min-width: 768px) {
    margin-top: 40px;
  }
}

.head {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    margin-bottom: 4px;
  }
}

.cell {
  display: flex;
  align-items: center;

  &_active {
    font-weight: bold;
  }
}

.row {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(1, 1fr 1fr 3fr 136px);
  }
}

.item {
  border-bottom: 1px solid #DEDEDE;
  padding: 24px 0 24px;
}

.icon {
  margin-right: 7px;
}

.cell-site {
  display: flex;
  order: 1;
  position: absolute;
  top: 62px;
  left: 0;

  @media (min-width: 768px) {
    position: relative;
    order: 0;
    top: 0;
  }

  .cell-site__name {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.cell-phone {
  display: flex;
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
  order: 0;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    margin-bottom: 0;
  }
}

.cell-msg {
  line-height: 18px;
  padding-left: 34px;
  padding-right: 50px;
  margin-bottom: 10px;

  @media (min-width: 768px) {
    padding: 0 10px;
    margin-bottom: 0;
  }
}

.cell-date {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 34px;

  @media (min-width: 768px) {
    padding: 0 10px;
  }
}

.flag {
  margin-right: 10px;
  height: 16px;
  width: 24px;
}

.date {
  color: #999999;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: 768px) {
    width: 72px;
  }
}

.copy {
  background-image: url('~assets/img/copy.svg');
  background-size: cover;
  cursor: pointer;
  position: absolute;
  top: 64px;
  right: 0;
  height: 20px;
  width: 20px;

  @media (min-width: 768px) {
    position: relative;
    top: 0;
  }
}
</style>
