<template>
  <div class="menu">
    <nuxt-link :to="item.link" v-for="item in menu" :key="item.id" class="menu__link" active-class="menu__link_active">
      <img v-if="item.icon" :src="getIcon(item)" :alt="item.icon" class="icon">
      {{ item.title }}
      <span v-if="item.counter" class="notice">
        {{ item.counter }}
      </span>
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'nuxt-property-decorator'

@Component
export default class NavBar extends Vue {
  @Prop({ type: Array })
  readonly list!: []

  menu: any[] = [
    { id: 1, title: 'История СМС', icon: 'history', link: '/' },
    { id: 2, title: 'Уведомления', icon: 'bell', link: 'notice', counter: 15 }
  ]

  getIcon (item: any): string {
    return require(`~/assets/img/${item.icon}.svg`)
  }
}
</script>

<style lang="scss" scoped>
.menu {
  display: flex;
  flex-direction: column;

  &__link {
    color: #CED1D2;
    align-items: center;
    display: flex;
    line-height: 21px;
    height: 44px;
    padding-left: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
    will-change: color;

    &:hover {
      color: white;
    }

    &_active {
      background-color: #26A69A;
    }
  }
}

.icon {
  margin-right: 15px;
}

.notice {
  background-color: #E13448;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  padding: 0 8px;
  margin-left: 22px;
}
</style>
