<template>
  <div class="sidebar">
    <div>
      <div class="header">
        <nuxt-link to="/" class="logotype">
          <img src="~assets/img/logo.svg" alt="logotype">
        </nuxt-link>
        <div class="block">
          <div class="block__left">
            <div class="balance">Баланс: 200 Р</div>
            <div class="freeze">Заморожено: 1 600 Р</div>
          </div>
          <div>
            <div class="button">Пополнить</div>
          </div>
        </div>
      </div>
      <NavBar :list ="menu" />
    </div>
    <div>
      <div class="profile">
        <div class="avatar">
          <img src="~assets/img/user.svg" alt="Константин Александрович Иванов">
        </div>
        <div>
          <div class="name">
            Константин Александрович Иванов
          </div>
          <div>ID: 16578</div>
        </div>
        <div class="logout"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class RightSidebar extends Vue {
  menu: any[] = [
    { id: 1, title: 'История СМС', icon: 'history', link: '/' },
    { id: 2, title: 'Уведомления', icon: 'bell', link: 'notice', counter: 15 }
  ]
}
</script>

<style lang="scss" scoped>
.sidebar {
  background-color: #222D32;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 100vh;
  padding-bottom: 82px;
  width: 310px;

  @media (min-width: 1440px) {
    display: flex;
  }
}

.header {
  padding: 40px 30px 32px;
}

.logotype {
  display: block;
  margin-bottom: 40px;
}

.profile {
  display: flex;
  padding: 0 30px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 181px;
  margin-right: 18px;
}

.avatar {
  margin-right: 14px;
  height: 19px;
  width: 17px;

  img {
    width: 100%;
  }
}

.logout {
  background-image: url('~assets/img/logout.svg');
  background-size: cover;
  cursor: pointer;
  height: 19px;
  width: 19px;
}

.block {
  display: flex;

  &__left {
    margin-right: 17px;
  }

  &__right {

  }
}

.balance {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.freeze {
  font-size: 14px;
  line-height: 16px;
}

.button {
  background-color: #008BF3;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 10px 9px;
  transition: background-color 0.3s ease;
  will-change: background-color;

  &:hover {
    background-color: #0263ab;
  }
}
</style>
