<template>
  <header class="header">
    <div class="nav nav_notice" />
    <nuxt-link to="/" class="logotype">
      <img src="~assets/img/logo.svg" alt="logotype">
    </nuxt-link>
    <div class="balance">
      200 Р
    </div>
  </header>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class TheHeader extends Vue {}
</script>

<style lang="scss" scoped>
.header {
  background-color: #222D32;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.06);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 20px;
  margin-bottom: 22px;
  height: 58px;
  width: 100%;

  @media (min-width: 1440px) {
    display: none;
  }
}

.logotype {
  height: 28px;
  width: 118px;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

.nav {
  background-image: url('~assets/img/nav.svg');
  background-size: cover;
  cursor: pointer;
  position: relative;
  height: 19px;
  width: 28px;

  &_notice {
    &:before {
      background-color: #E13448;
      border-radius: 50%;
      content: '';
      position: absolute;
      top: -4px;
      right: -4px;
      height: 8px;
      width: 8px;
    }
  }
}

.balance {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
</style>
