<template>
  <div class="pagination">
    <nuxt-link :to="{ query: { page: page } }" :class="{ pagination__item_active: page === currentPage }" v-for="page in pages" :key="page" class="pagination__item">
      {{ page }}
    </nuxt-link>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue} from 'nuxt-property-decorator'

@Component
export default class ThePagination extends Vue {
  @Prop({ type: Number, default: 1 })
  readonly itemsPage!: number

  @Prop({ type: Number, default: 0 })
  readonly totalCount!: number

  get pages (): any[] {
    const pages = Math.round(this.totalCount / this.itemsPage)
    const arr = []

    for (let i = 1; i <= pages; i++) {
      arr.push(i)
    }

    return arr
  }

  get currentPage (): number {
    return this.$route.query.page ? Number(this.$route.query.page) : 1
  }
}
</script>

<style lang="scss" scoped>
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
  width: 100%;

  &__item {
    color: #008BF3;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    margin: 0 2px;
    width: 28px;

    &_active {
      background-color: #008BF3;
      border-radius: 2px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 32px;
      width: 28px;
    }
  }
}
</style>
