<template>
  <div>
    <TheHeader />
    <div class="page">
      <RightSidebar class="page__right" />
      <div class="main">
        <h1 class="main__header">История СМС</h1>
        <div class="main__content">
          <div class="main__left">
            <div class="filter">
              <div class="filter__title">Фильтры</div>
              <FilterGroup v-model="selectedSelector" title="Тип операции" :selector="selector" @select-option="updateSelector"/>
            </div>
          </div>
          <div class="main__right">
            <div class="search">
              <input type="search" class="search__input">
              <button class="search__button">Найти</button>
            </div>
            <div class="layer">
              <ListOperation :type="selectedSelector" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator'

@Component
export default class IndexPage extends Vue {
  selector: any[] = [
    { id: 1, title: 'Все операции', value: 'all' },
    { id: 2, title: 'Сообщения', value: 'message' },
    { id: 3, title: 'Другое', value: 'other' }
  ]

  selectedSelector: string = 'all'

  updateSelector (type: string) {
    this.selectedSelector = type
  }
}
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}

body {
  background-color: #E5E5E5;
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin: 0;
}

select, input {
  outline: none;
}

button {
  border: 0;
  outline: none;
}

.page {
  display: flex;
  width: 100%;

  &__right {
    flex-shrink: 0;
  }
}

.main {
  width: 100%;

  @media (min-width: 768px) {
    padding: 50px;
  }

  &__header {
    margin: 0 20px 22px;

    @media (min-width: 768px) {
      margin: 0 0 30px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  &__left {
    flex-shrink: 0;
    margin-right: 38px;
    width: 100%;

    @media (min-width: 1024px) {
      max-width: 300px;
    }

    @media (min-width: 1440px) {
      max-width: 420px;
    }
  }

  &__right {
    width: 100%;
  }
}

h1 {
  font-size: 24px;
  line-height: 28px;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 30px;
    line-height: 35px;
  }
}

.filter {
  background-color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.06);
  padding: 25px 20px;

  @media (min-width: 768px) {
    border-radius: 10px;
    padding: 30px 25px 42px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 20px;

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.layer {
  background-color: white;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.06);
  padding: 20px 15px 20px 20px;

  @media (min-width: 768px) {
    border-radius: 10px;
    padding: 30px 25px 42px;
  }
}

.search {
  display: flex;
  margin: 30px 20px;

  @media (min-width: 768px) {
    margin: 0 0 23px;
  }

  &__input {
    background-color: white;
    border: 1px solid #DEDEDE;
    border-radius: 3px 0 0 3px;
    padding-left: 15px;
    height: 36px;
    width: 100%;

    @media (min-width: 768px) {
      height: 38px;
    }
  }

  &__button {
    background-color: #008BF3;
    border-radius: 0 5px 5px 0;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    height: 36px;
    width: 85px;

    @media (min-width: 768px) {
      height: 38px;
      width: 120px;
    }
  }
}
</style>
